.list {
  padding: 0rem;
  margin: 0rem;

  background-color: inherit;

  display: flex;
  flex-flow: column nowrap;
}

.card {
  padding: 0rem;
  margin: 0rem;

  background-color: inherit;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.property {
  padding: 0rem;
  margin: 0rem;

  background-color: inherit;
}