# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# gradle
.gradle
**/build/
!src/**/build/

# production
/bin/*

# misc
.DS_Store
*.pem

# local env files
.env*.local

# IDEs
**/.vscode/
**/.idea/
!src/**/.idea/

