.container {
  padding: 0rem;
  margin: 0rem;
}

.flexRow {
  padding: 0rem;
  margin: 0rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.input_text {
  padding: 0.5rem;
  color: inherit;
  background-color: inherit;

  border: 1px solid gray;
  border-radius: 5px;

}

.submitButton {
  padding: 0.5rem;
  color: inherit;

  border: 1px solid gray;
  border-radius: 5px;
  transition: background-color 0.5s, border-color 0.5s;
}
.submitButton:hover {
  border-color: var(--highlight-color);
  background-color: var(--highlight-color);
}